<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add book</title>
</head>
<body>
<form
        th:action="@{/addbook}"
        th:object="${book}"
        method="post">
    <label for="title">Title:</label>
    <input id="title" th:field="*{title}"/>
    <label for="subtitle">Subtitle:</label>
    <input id="subtitle" th:field="*{subtitle}"/>
    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset form"/>
    <a href="/books">Back</a>
</form>
</body>
</html>
